<div id="mainHeader" class="container-fluid">
    <header>
        <div class="row">
            <h1> {{title}} </h1>
            <img class="icon" src="assets/img/sneakers.png" alt="">
            <img class="icon" src="assets/img/hero.png" alt="">
            <ul>
                <div class="row justify-content-center">
                    <li><a routerLink="/home">Main</a></li>
                    <li><a routerLink="/catalogue">Catalogue</a></li>
                    <li><a routerLink="/us">Us</a></li>
                </div>
            </ul>
        </div>

    </header>
</div>