/*-------------*/
@keyframes glowing {
  0% {
    background-position: 0 0;
    background-color: #222; }
  10% {
    background-color: #2e2e2e;
    border-color: #111; }
  20% {
    background-color: #202020;
    border-color: #222;
    color: #caf0f8; }
  30% {
    background-color: #1f1b1b;
    text-shadow: 3px 3px 3px black;
    transform: scale(1.1);
    color: #48cae4; }
  50% {
    background-position: 400% 0;
    background-color: #1f1e1e;
    color: #0096c7; }
  100% {
    background-position: 0 0;
    background-color: #1a1919; } }
#mainHeader {
  background-color: #222;
  color: white;
  font-family: "Sriracha", cursive;
  height: 120px;
  border-radius: 0px 0px 1000px 1000px;
  box-shadow: inset 7px 7px 10px #222, inset -7px -7px 10px #111;
  padding: 2%; }
  #mainHeader h1 {
    color: #0096c7;
    font-family: "Russo One", sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    text-shadow: 1px 5px black;
    font-size: 48px; }

/*****Custom Classes*******/
.icon {
  width: 60px; }

@media (min-width: 768px) {
  ul {
    text-align: center;
    width: 50%;
    margin: auto; }
    ul li {
      width: 100px;
      background-color: #222;
      box-shadow: 1px 1px 1px #111;
      border-radius: 10px;
      padding: 5px;
      font-size: 18px;
      display: inline-flex;
      margin: 2%;
      transition-duration: 0.6s; }
      ul li a, ul li a:visited {
        padding: 2%;
        margin: auto;
        color: inherit;
        text-decoration: none; }
    ul li:hover {
      box-shadow: -1px -1px 0px #424141;
      animation: glowing 2s 0s;
      color: #0096c7;
      text-shadow: 1px 1px 1px #03045e;
      font-size: 19px;
      cursor: pointer; } }
@media (min-width: 768px) and (max-width: 992px) {
  header ul {
    width: 10% !important; }
    header ul li {
      margin-top: 1px !important;
      padding-top: 1px !important;
      width: 3000%; }
  header .icon {
    width: 10%;
    height: 10%; } }
@media (min-width: 576px) and (max-width: 768px) {
  header {
    padding-bottom: 1%; }
    header ul {
      width: 40% !important; }
    header .icon {
      width: 10%;
      height: 10%; } }
@media (min-width: 280px) and (max-width: 768px) {
  #mainHeader {
    border-radius: 10px 10px 40px 40px;
    margin: 0px; }

  header h1 {
    margin-right: 120px;
    font-size: 40px !important;
    padding-left: 20px; }
  header .icon {
    width: 50px; }
  header #navbarPc {
    display: none; }
  header #toggler {
    margin: auto;
    width: 50px !important;
    height: 50px;
    background-color: #222;
    box-shadow: 1px 1px 1px #111;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    transition-duration: 0.6s; }
  header #toggler:hover {
    box-shadow: -2px -2px 6px 0.6px #48cae4; }
  header li {
    padding: 2%; }
    header li a {
      color: #0096c7;
      box-shadow: 1px 1px 4px 1px #0096c7;
      border-radius: 20px;
      text-align: center;
      width: 80px;
      background-color: #222;
      transition-duration: 0.5s; }
  header li:hover {
    transform: scale(1.1); }
  header #toggler:after {
    content: "";
    margin: auto auto;
    width: 38px;
    height: 38px;
    position: absolute;
    background-size: 100%;
    background-image: url("/assets/img/menu.svg");
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
  header #toggler:hover::after {
    transform: scale(1.1) rotate(360deg);
    opacity: 90%; } }

/*# sourceMappingURL=style.css.map */
