<div class="container">
    <section class="nm">
        <div class="container animate__animated animate__slideInLeft">
            <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam recusandae similique harum blanditiis? </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quidem repellendus dolorum numquam similique, ipsam nihil vel incidunt, tempore hic maxime! Nemo id illo vitae et maxime corrupti voluptatem deleniti.</p>
        </div>
    </section>
</div>

<div id="particles-js"></div>